docs/build
*pyc

# documentation artifacts
html/*
!html/HTML_DOCS_WILL_BE_GENERATED_HERE

# otherwise CI thinks index not clean
*.resolved
dataset

msc_thesis.aux
msc_thesis.blg
ms_thesis.fdb_latexmk
msc_thesis.fls
msc_thesis.log
msc_thesis.pdf
msc_thesis.synctex.gz
msc_thesis.bbl
msc_thesis.fdb_latexmk

.env.local